<div
  class="myheadercss"
  [ngClass]="
    toggleSide()
      ? 'sm:w-[100%] md:w-[100%] lg:w-[84%] xl:w-[84%] 2xl:w-[84%]'
      : 'sm:w-[100%] md:w-[100%] lg:w-[94%] xl:w-[94%] 2xl:w-[94%]'
  "
>
  <div
    class="flex justify-center place-items-center text-gray-500 cursor-pointer"
    (click)="onClick()"
  >
    <ng-container *ngIf="toggleSide(); else x">
      <fa-icon [icon]="icons.faList"></fa-icon>
    </ng-container>
    <ng-template #x>
      <fa-icon [icon]="icons.faX"></fa-icon>
    </ng-template>
  </div>
  <div class="flex place-items-center shadow-lg rounded-full">
    <img src="assets/profile.jpg" class="h-9 w-9 rounded-full" alt="" />
  </div>
</div>
