<header
  class="fixed top-0 flex justify-between bg-white place-items-center h-16 shadow-lg px-4 text-white w-[80%]"
>  
<!-- [ngClass]="
headerService.headerSignal()
  ? 'xs:w-[100%] sm:w-[100%] md:w-[74%] lg:w-[80%] xl:w-[82%] 2xl:w-[86%]'
  : 'w-[100%]'
" -->
  <div class="flex justify-center place-items-center">
    <div class="text-gray-500 cursor-pointer mr-5 p-1" (click)="onClick()">
      <fa-icon [icon]="faList"></fa-icon>
    </div>
    <input
      type="text"
      class="rounded-l-full outline-none bg-sys-outline pl-6 h-10 text-black w-72 text-xs"
      placeholder="Search for anything"
    />
    <div
      class="flex place-items-center bg-sys-outline pr-6 h-10 rounded-r-full text-gray-400"
    >
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
  </div>

  <div class="flex justify-center place-items-center text-gray-500 gap-4">
    <div>
      <fa-icon [icon]="faBell"></fa-icon>
    </div>
    <div>
      <fa-icon [icon]="faMessage"></fa-icon>
    </div>
    <div class="flex place-items-center bg-white rounded-full">
      <img src="assets/profile.jpg" class="h-8 w-8 rounded-full p-0.5" />
    </div>
  </div>
</header>
