<ul class="text-white">
  <ng-container *ngFor="let x of sidebarItems">
    <li *ngIf="!x.submenu; else submenu">
      <div
        class="flex place-items-center h-10 hover:menuhover cursor-pointer"
        [ngClass]="
          !isToggle
            ? 'sm:hidden md:hidden lg:justify-center xl:justify-center 2xl:justify-center'
            : 'px-5'
        "
      >
        <a class="flex place-items-center gap-3">
          <fa-icon [icon]="icon[x.icon]" class="w-3"></fa-icon>
          <span
            [ngClass]="!isToggle ? 'lg:hidden xl:hidden 2xl:hidden' : 'text-xs'"
            >{{ x.title }}</span
          >
        </a>
      </div>
    </li>
    <ng-template #submenu>
      <li>
        <div
          class="flex justify-between place-items-center h-10 px-5 cursor-pointer hover:menuhover"
          [ngClass]="
            !isToggle
              ? 'sm:hidden md:hidden lg:justify-center xl:justify-center 2xl:justify-center'
              : 'px-5'
          "
          appTogglemenu
          targetId="{{ x.id }}"
        >
          <a href="#" class="flex place-items-center gap-3">
            <fa-icon [icon]="icon[x.icon]" class="w-3"></fa-icon>
            <span
              [ngClass]="
                !isToggle ? 'lg:hidden xl:hidden 2xl:hidden' : 'text-xs'
              "
              >{{ x.title }}</span
            >
          </a>
          <fa-icon
            [icon]="icon.faChevronDown"
            [ngClass]="!isToggle ? 'lg:hidden xl:hidden 2xl:hidden' : ''"
            id="c{{ x.id }}"
          ></fa-icon>
        </div>
        <ul class="hidden" id="{{ x.id }}">
          <li
            *ngFor="let submenuItem of x.submenuItems"
            class="text-xs py-2 pl-11 hover:menuhover cursor-pointer"
          >
            <a>{{ submenuItem.title }}</a>
          </li>
        </ul>
      </li>
    </ng-template>
  </ng-container>
</ul>
