<div class="flex flex-row">
  <div
    [ngClass]="
      toggleSide()
        ? 'sm:basis-[0%]  md:basis-[0%] lg:basis-[16%] xl:basis-[16%] 2xl:basis-[10%]'
        : 'sm:basis-[0%] md:basis-[0%] lg:basis-[6%] xl:basis-[6%] 2xl:basis[3%]'
    "
  >
    <app-sidebar />
  </div>
  <div
    [ngClass]="
      toggleSide()
        ? 'sm:basis-[100%] md:basis-[100%] lg:basis-[84%] xl:basis-[84%] 2xl:basis[90%]'
        : 'sm:basis-[100%] md:basis-[100%] lg:basis-[94%] xl:basis-[94%] 2xl:basis[97%]'
    "
  >
    <app-header />
    <div class="flex flex-col pt-5 pb-12 px-5 mt-[65px] duration-300">
      <div class="flex flex-row justify-between place-items-center pb-5">
        <div>
          <h4 class="text-lg font-semibold text-gray-600">
            Application Manager
          </h4>
        </div>
        <div class="text-xs text-gray-700">
          <fa-icon [icon]="icon.faHome"></fa-icon>
          > Application Manager
        </div>
      </div>
      <div class="container mx-auto p-3 rounded shadow-lg bg-white">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer />
  </div>
</div>
