<div
  class="mysidebarcss"
  [ngClass]="
    toggleSide()
      ? 'sm:w-[40%]  md:w-[20%] lg:w-[16%] xl:w-[16%] 2xl:w-[16%]'
      : 'sm:w-[0%] md:w-[0%] lg:w-[6%] xl:w-[6%] 2xl:w-[6%]'
  "
>
  <div
    class="flex justify-center place-items-center border-b border-b-gray-500 gap-2 h-16"
  >
    <img src="assets/kcclogo.png" class="h-6" alt="" />
    <span class="font-semibold text-lg text-white" *ngIf="toggleSide()"
      >TEST APP</span
    >
  </div>
  <app-sidebar-items [isToggle]="toggleSide()" />
</div>
