<section
  class="fixed top-0 left-0 right-0 m-0 bottom-0 shadow-lg h-screen w-[16%] bg-sys-sidebar"
>
  <div
    class="flex justify-center items-center border-b border-b-slate-600 py-[9.5px] gap-2"
  >
    <img src="assets/kcclogo.png" class="h-6" />
    <h4 class="font-font-rem text-white text-xl">TEST APP</h4>
  </div>
  <div
    class="flex justify-center items-center border border-slate-500 h-20 w-20 rounded-full mt-5 mx-auto bg-cover bg-center shadow-sm shadow-slate-500"
    style="background-image: url(&quot;assets/profile.jpg&quot;)"
  ></div>

  <div
    class="flex flex-col justify-center items-center text-white font-thin text-xs mt-3"
  >
    <p>Janny Decosta</p>
    <p>Applications Lead</p>
  </div>

  <div class="mt-4 px-4 mb-2 text-xs text-white">Main</div>
  <div class="menu hover:menuhover">
    <div class="w-3">
      <fa-icon [icon]="faHome"></fa-icon>
    </div>
    <span class="text-xs">Dashboard</span>
  </div>
  <div class="menu hover:menuhover">
    <div class="w-3">
      <fa-icon [icon]="faQrcode"></fa-icon>
    </div>
    <span class="text-xs">Application Manager</span>
    <div class="ml-auto">
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
  </div>
  <div class="menu hover:menuhover">
    <div class="w-3">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <span class="text-xs">User Manager</span>
    <div class="ml-auto">
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
  </div>
  <div class="menu hover:menuhover">
    <div class="w-3">
      <fa-icon [icon]="faCogs"></fa-icon>
    </div>
    <span class="text-xs">Roles Manager</span>
    <div class="ml-auto">
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
  </div>
</section>
