<section
  class="fixed m-0 top-0 shadow-lg h-screen bg-sys-sidebar overflow-auto duration-100"
  [ngClass]="headerService.headerSignal() ? 'w-0' : 'w-[16%]'"
>
  <div *ngIf="!headerService.headerSignal()">
    <div
      class="flex justify-center place-items-center border-b border-b-slate-600 py-[9.5px] gap-2"
    >
      <img src="assets/kcclogo.png" class="h-6" />
      <h4 class="font-font-bebas text-white text-xl">
        {{ headerService.headerSignal() }}
      </h4>
    </div>

    <!-- <div
      class="border border-slate-500 h-20 w-20 rounded-full mt-5 mx-auto bg-cover bg-center shadow-sm shadow-slate-500"
      style="background-image: url(&quot;assets/profile.jpg&quot;)"
    ></div>

    <div
      class="flex flex-col justify-center items-center text-white font-thin text-xs mt-3"
    >
      <p>Janny Decosta</p>
      <p>Applications Lead</p>
    </div> -->

    <div class="mt-5 px-4 mb-2 text-xs text-white">Navigation</div>
    <div class="menu hover:menuhover">
      <div class="w-3">
        <fa-icon [icon]="faHome"></fa-icon>
      </div>
      <span class="text-xs">Dashboard</span>
    </div>
    <div
      class="menu hover:menuhover"
      appTogglemenu
      targetId="submenu1"
      chevid="chevron1"
    >
      <div class="w-3">
        <fa-icon [icon]="faQrcode"></fa-icon>
      </div>
      <span class="text-xs">Application Manager</span>
      <div class="ml-auto" id="chevron1">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </div>
    </div>

    <div
      class="flex flex-col justify-center text-xs text-white mx-auto hidden"
      id="submenu1"
    >
      <span class="menu hover:menuhover pl-11">Application</span>
      <span class="menu hover:menuhover pl-11">Module</span>
      <span class="menu hover:menuhover pl-11">Sub Module</span>
      <span class="menu hover:menuhover pl-11">Assign Module & Sub</span>
    </div>

    <div
      class="menu hover:menuhover"
      appTogglemenu
      targetId="submenu2"
      chevid="chevron2"
    >
      <div class="w-3">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <span class="text-xs">User Manager</span>
      <div class="ml-auto" id="chevron2">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </div>
    </div>

    <div
      class="flex flex-col justify-center text-xs text-white mx-auto hidden"
      id="submenu2"
    >
      <span class="menu hover:menuhover pl-11">User</span>
      <span class="menu hover:menuhover pl-11">Request User</span>
    </div>

    <div
      class="menu hover:menuhover"
      appTogglemenu
      targetId="submenu3"
      chevid="chevron3"
    >
      <div class="w-3">
        <fa-icon [icon]="faCogs"></fa-icon>
      </div>
      <span class="text-xs">Roles Manager</span>
      <div class="ml-auto" id="chevron3">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </div>
    </div>

    <div
      class="flex flex-col justify-center text-xs text-white mx-auto hidden"
      id="submenu3"
    >
      <span class="menu hover:menuhover pl-11">Role</span>
      <span class="menu hover:menuhover pl-11">Assign Module</span>
    </div>
  </div>
</section>
